<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517227415529-ecmnhjchteqttpugcobhr7e9csci1ecm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517227415529-ecmnhjchteqttpugcobhr7e9csci1ecm</string>
	<key>API_KEY</key>
	<string>AIzaSyDwTZ4FvLfV_7NjLQpO9Ax7vgYTZVlX--A</string>
	<key>GCM_SENDER_ID</key>
	<string>517227415529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>flutterchatapp-38699</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterchatapp-38699.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517227415529:ios:28f01a288f0a6f7ac12d78</string>
</dict>
</plist>